"*":
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
    tabLength: 4
    scrollSensitivity: 20
    softWrapAtPreferredLineLength: true
    fontSize: 13
    autoIndentOnPaste: false
  core:
    ignoredNames: [
      "*.pyc"
      "*.o"
      "*.aux"
      "*.log"
      "*.out"
      "*.pdf"
      "*.bak"
      "gday"
      ".DS_Store"
      ".localized"
      ".Rapp.history"
    ]
    disabledPackages: [
      "close-after-last-tab"
      "close-after-last-tab"
      "close-after-last-tab"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
    ]
    themes: [
      "atom-dark-ui"
      "atom-material-syntax"
    ]
  "exception-reporting":
    userId: "6284a944-6e52-01cd-f270-cc9e629698bf"
  welcome:
    showOnStartup: false
  "tree-view":
    hideIgnoredNames: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  "sync-settings":
    _analyticsUserId: "10e762a6-7aef-4b87-a15b-206be091f4ec"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "spell-check": {}
".latex.rd.tex.text":
  editor:
    tabLength: 2
".fortran.modern.source":
  editor:
    tabLength: 3
".r.source":
  editor:
    tabLength: 2
".fortran.source":
  editor:
    tabLength: 3
".latex":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 80
